[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
autoflake = "1.4"
bandit = "1.7.0"
black = "21.5b2"
isort = "5.8.0"
mypy = "0.812"
pylint = "2.8.3"
tox = "3.23.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
